@model List<Klimatkollen.ViewModels.ObservationFilterViewModel>
@{
    ViewData["Title"] = "Alla observationer";
}
<br />

<div class="box" id="categoriesDiv">
    @*<p style="display:inline-block; float:right; margin-top:10px;">@Html.ActionLink("Sparade frilansare lista", "SavedFreelancers", "customers")</p>*@
    <h3 style="display:inline-block;">Sök efter observationer</h3>
    <br />
    <input id="SearchString" name="SearchString" type="text" placeholder="Fritext sök" value="">

    <br />
    <div>
        <button id="filterbtn" class="btn btn-primary">Visa filter</button>
    </div>









<div id="filters" style="display:inline-block; display:none">
    
    <div id="filterbuttons">
        <div id="areaDiv">
            <h4>Populära områden</h4>
            @foreach (var item in ViewBag.Areas)
            {
                <p class="filters areaBtn" id="@item">@item</p>
            }
        </div>
        <div id="mainCategoriesDiv">
            <h4>Kategorier</h4>
            @foreach (var item in ViewBag.MainCategories)
            {
                <p class="filters mainCatBtn" id="@item.CategoryName">@item.CategoryName</p>
            }
        </div>
        <div id="catgoriesDiv">
            <h4>Underkategorier</h4>
            @foreach (var item in ViewBag.Categories)
            {
                if (!item.Unit.Equals("Annat"))
                {
                    <p class="filters catBtn" id="@item.Type">@item.Type</p>
                }
            }
        </div>
    </div>
</div>

    <button style="display:none" id="filterbtnClose" class="btn btn-primary">Stäng</button>
    <input style="display:none; padding: 10px 0px; min-width: 80px" id="ClearFilterBtn" type="submit" class="btn btn-sec" value="Nollställ" />

</div>

<div>
    <br />
    <table class="table">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody id="ObservationsTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        
                        <div class="col-md-12 observationBox">
                            @*<div class="card-header">
            <h6 style="display:inline-block;" class="filterItem"><b>Kategori: @Html.DisplayFor(x => @item.Observation.MainCategory.CategoryName)</b></h6>
        </div>*@
                            <h6 style="display:inline-block;" data="@item.Observation.MainCategory.CategoryName" class="filterItem"><b>Kategori: @Html.DisplayFor(x => @item.Observation.MainCategory.CategoryName)</b></h6>

                            <br />
                            <h6 style="display:inline-block;">Plats:</h6>
                            <span class="filterItem" data="@item.Observation.AdministrativeArea"> @item.Observation.AdministrativeArea</span>
                            <br />

                            @*(Djur)*@
                            @if (item.Observation.maincategoryId == 2)
                            {
                                <h6 style="display:inline-block;">Djur:</h6>
                                <span class="filterItem" data="@item.Category.Type">@Html.DisplayFor(x => item.Category.Type)</span>
                                @foreach (var x in item.Measurements)
                                {
                                    <br />
                                    if (x.ThirdCategory.Unit == "Päls")
                                    {
                                        <h6 style="display:inline-block;">Päls:</h6>
                                        <span class="filterItem" data="@x.ThirdCategory.Type">@Html.DisplayFor(z => x.ThirdCategory.Type)</span>
                                    }
                                }

                            }
                            else
                            {
                                <h6 style="display:inline-block;">Typ av mätning:</h6>
                                @foreach (var x in item.Measurements)
                                {
                                    <span class="filterItem" data="@x.ThirdCategory.Type">@Html.DisplayFor(modelItem => x.ThirdCategory.Type)</span>


                                    //@Html.HiddenFor(model => x.ThirdCategory.Category.Type, new { htmlAttributes = new { @class = "form-control filterItem", @data = x.ThirdCategory.Category.Type } })

                                    if (x.Value != null)
                                    {
                                        <br />
                                        <h6 style="display:inline-block;">Värde: </h6>
                                        <p style="display:inline-block;">(@x.ThirdCategory.Unit)</p>
                                        <span>@Html.DisplayFor(modelItem => x.Value)</span>
                                    }
                                <span style="visibility: hidden" class="filterItem" data="@x.ThirdCategory.Category.Type">@Html.DisplayFor(modelItem => x.ThirdCategory.Category.Type)</span>
                                }
                                <br />
                            }
                        <div style="display:none" id="@item.Observation.Id">

                            @if (item.Observation.maincategoryId == 2)
                            {

                                @foreach (var x in item.Measurements)
                                {

                                    @if (x.ThirdCategory.Unit == "Miljö")
                                    {
                                        <h6 style="display:inline-block;">Miljö:</h6>
                                        <span class="filterItem" data="@x.ThirdCategory.Type">@Html.DisplayFor(z => x.ThirdCategory.Type)</span>
                                        <br />
                                    }
                                }
                                <br />
                            }


                            <h6 style="display:inline-block;">Datum:</h6>
                            <span class="filterItem" data="@item.Observation.Date"> @item.Observation.Date</span>
                            <br />
                            <h6 style="display:inline-block;">Kommentar:</h6>
                            <span class="filterItem" data="@item.Observation.Comment"> @item.Observation.Comment</span>
                            <br />
                            <h6 style="display:inline-block;">Utförd av:</h6>
                            <span class="filterItem" data="@item.Observation.Person.FirstName"> @item.Observation.Person.FirstName</span>
                            <span class="filterItem" style="visibility:hidden" data="@item.Observation.Person.Lastname">@item.Observation.Person.Lastname</span>
                           
                            <br />
                            <br />

                        </div>
                            
                            <a style="display:block;" onclick="ShowDetailedInfo(@item.Observation.Id, this)">Visa mer</a>
                        </div>
                        
                    </td>
                </tr>

            }

        </tbody>
    </table>
</div>




<script>
    //Visa filter
      $(document).ready(function () {
            $("#filterbtn").click(function () {
                $("#filterbtn").hide();
                $("#filters").show(100);
                $("#filterbtnClose").show(100);
                $("#ClearFilterBtn").show(100);               
            })
      });

    //Göm filter
      $(document).ready(function () {
            $("#filterbtnClose").click(function () {
                $("#filterbtnClose").hide();
                $("#ClearFilterBtn").hide();   
                $("#filterbtn").show(50);
                $("#filters").hide(100);
             })
      });

    //Visa mer info på klickad observation
     function ShowDetailedInfo(id, btn) {
         var x = document.getElementById(id);
            if (x.style.display === 'none') {
                x.style.display = 'inline-block';
                btn.innerHTML = "Visa mindre";
            } else {
                x.style.display = 'none';
                btn.innerHTML = "Visa mer";
            }
    };

    //När "Nollställ filter"-knappen klickas
    $(document).ready(function () {
        $("#ClearFilterBtn").click(function () {
            $("#SearchString").val(null);
            filter();
            })
          });
 </script>

<script>
   //Filtreringsfunktionen
   $(function () {
    //Källa: https://caveofcode.com/2016/02/jquery-tutorial-how-to-filter-data-using-multiple-parameters/
       //Fritextsök
       $('#SearchString').keyup(filter);

       //När man klickar på en knapp som har klassen filter, = toggleClass <-> active
       $('.filters').click(function () {
            //$(this).toggleClass('active');
            filter();
            });                 
   });

    function filter() {
            //Funktion för att filtrera tabellen
             var rex = new RegExp($('#SearchString').val(), 'i');
             var rows = $('#ObservationsTable tr');

             rows.hide();

             rows.filter(function () {

             var tester = true;

             tester = rex.test($(this).text());

             tester = tester && filterCombos(this); //Anropar funktionen för att kolla vilka filtreringsknappar som används

             return tester;
             }).show();
    };
    function filterCombos(selector) {
                        //Kollar vilka items som har värdet för vilka filter som är aktiva
                        var tester = true;
                        var activeOne = $('#filterbuttons .filters.active'); //Sparar alla filterknappar som har klassen active
                        var activeTwo = $('#filterbuttons .filters.activeTwo'); //Sparar alla filterknappar som har klassen active
                        var activeThree = $('#filterbuttons .filters.activeThree'); //Sparar alla filterknappar som har klassen active

                        for (var i = 0; i < activeOne.length; i++) {
                            var item = $(selector).find('[data="' + activeOne[i].id + '"]'); //(if item.name == filterbutton.name)

                            if (!item.hasClass('filterItem')) {
                                tester = false;
                            }
                        }
                        for (var i = 0; i < activeTwo.length; i++) {
                            var item = $(selector).find('[data="' + activeTwo[i].id + '"]'); //(if item.name == filterbutton.name)

                            if (!item.hasClass('filterItem')) {
                                tester = false;
                            }
                        }
                        for (var i = 0; i < activeThree.length; i++) {
                            var item = $(selector).find('[data="' + activeThree[i].id + '"]'); //(if item.name == filterbutton.name)

                            if (!item.hasClass('filterItem')) {
                                tester = false;
                            }
                        }

                        return tester;
    };

  </script>

<script>
    var header = document.getElementById("areaDiv");
    var btns = header.getElementsByClassName("areaBtn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active", "");
            }
            this.className += " active";
        });
    };
    var header = document.getElementById("mainCategoriesDiv");
    var btns = header.getElementsByClassName("mainCatBtn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("activeTwo");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" activeTwo", "");
            }
            this.className += " activeTwo";
        });
    };

    var header = document.getElementById("catgoriesDiv");
    var btns = header.getElementsByClassName("catBtn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("activeThree");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" activeThree", "");
            }
            this.className += " activeThree";
        });
    };



</script>
<script>
    
</script>