@*@model IEnumerable<float>*@ 
@model IEnumerable<Klimatkollen.ViewModels.MeasurementDatesViewModel>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<form>
    <input type="date" class="form-control" value="@DateTime.Today.AddYears(-1).ToString("yyyy/MM/dd")" id="startDate" onchange="drawChart()"/>
    <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy/MM/dd")" id="endDate" onchange="drawChart()"/>
</form>

<script type="text/javascript">


    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Datum');
        data.addColumn('number', 'Temperatur');
        data.addColumn('number', 'Medeltemperatur 2020');
        data.addColumn('number', 'Medeltemperatur 2019');

        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

        //https://stackoverflow.com/questions/4673527/converting-milliseconds-to-a-date-jquery-javascript
        Date.prototype.customFormat = function(formatString){
        var YYYY,YY,MMMM,MMM,MM,M,DDDD,DDD,DD,D,hhhh,hhh,hh,h,mm,m,ss,s,ampm,AMPM,dMod,th;
        YY = ((YYYY=this.getFullYear())+"").slice(-2);
        MM = (M=this.getMonth()+1)<10?('0'+M):M;
        MMM = (MMMM=["January","February","March","April","May","June","July","August","September","October","November","December"][M-1]).substring(0,3);
        DD = (D=this.getDate())<10?('0'+D):D;
        DDD = (DDDD=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"][this.getDay()]).substring(0,3);
        th=(D>=10&&D<=20)?'th':((dMod=D%10)==1)?'st':(dMod==2)?'nd':(dMod==3)?'rd':'th';
        formatString = formatString.replace("#YYYY#",YYYY).replace("#YY#",YY).replace("#MMMM#",MMMM).replace("#MMM#",MMM).replace("#MM#",MM).replace("#M#",M).replace("#DDDD#",DDDD).replace("#DDD#",DDD).replace("#DD#",DD).replace("#D#",D).replace("#th#",th);
        h=(hhh=this.getHours());
        if (h==0) h=24;
        if (h>12) h-=12;
        hh = h<10?('0'+h):h;
        hhhh = hhh<10?('0'+hhh):hhh;
        AMPM=(ampm=hhh<12?'am':'pm').toUpperCase();
        mm=(m=this.getMinutes())<10?('0'+m):m;
        ss=(s=this.getSeconds())<10?('0'+s):s;
        return formatString.replace("#hhhh#",hhhh).replace("#hhh#",hhh).replace("#hh#",hh).replace("#h#",h).replace("#mm#",mm).replace("#m#",m).replace("#ss#",ss).replace("#s#",s).replace("#ampm#",ampm).replace("#AMPM#",AMPM);
        };

        var temperatures = [];
        var dates = [];
        var model = [];

    @foreach(var m in Model)
    {
        @*@:model.push("@m");*@
        @:model.push({
        @:Date: new Date('@m.Date'),
        @:Value : '@m.AvgTemp',
        @:});
    }

       

        for (var i = 0; i < model.length; i++) {
            if (Date.parse(model[i].Date) >= Date.parse(startDate) && Date.parse(model[i].Date) <= Date.parse(endDate)) {
                temperatures.push({ temp: model[i].Value, date:model[i].Date.customFormat("#DD#/#MM#/#YYYY#") });
                dates.push(model[i].Date.customFormat("#DD#/#MM#/#YYYY#"));
            }
        }
        

        var medianTemperature = 0;

        for (var i = 0; i < temperatures.length; i++) {
            medianTemperature += parseFloat(temperatures[i].temp)
        }
        temperatures.average

        medianTemperature = medianTemperature / temperatures.length;


        for (y = 0; y < temperatures.length; y++) {
            data.addRow([temperatures[y].date, parseFloat(temperatures[y].temp), medianTemperature, medianTemperature - 0.80]);
            }
            

                var options = {
            chart: {
                title: 'Senaste temperaturen'
            },
            width: 900,
            height: 500,
            axes: {
                x: {
                        0: { side: 'top' }
                    }
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
</script>



<div id="line_top_x"></div>
@*//Div för diagrammet*@