@*@model IEnumerable<float>*@ 
@model IEnumerable<Measurement>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<form>
    <input type="date" class="form-control" value="2018-01-01" id="startDate" onchange="drawChart()"/>
    <input type="date" class="form-control" value="2020-02-11" id="endDate" onchange="drawChart()"/>
</form>

<script type="text/javascript">


    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('number', 'Datum');
        data.addColumn('number', 'Temperatur');
        data.addColumn('number', 'Medeltemperatur 2020');
        data.addColumn('number', 'Medeltemperatur 2019');

        var startDate = document.getElementById("startDate").value;
        var endDate = document.getElementById("endDate").value;

    var temperatures = [];
    var model = [];

    @foreach(var m in Model)
    {
        @*@:model.push("@m");*@
        @:model.push({
        @:ID: '@m.Id',
        @:Date: new Date('@m.Observation.Date'),
        @:Value : '@m.Value',
        @:});
    }

        alert(Date.parse(model[4].Date))


        for (var i = 0; i < model.length; i++) {
            if (Date.parse(model[i].Date) >= Date.parse(startDate) && Date.parse(model[i].Date) <= Date.parse(endDate)) {
                temperatures.push(model[i].Value);
            }
        }
        
        alert(temperatures);
    @*@foreach (var m in Model)
    {
        if (m.Observation.Date <= )
        {

            @:temperatures.push("@m.Value");
        }


    }*@

        var medianTemperature = 0;

        for (var i = 0; i < temperatures.length; i++) {
            medianTemperature += parseFloat(temperatures[i])
        }
        temperatures.average

        medianTemperature = medianTemperature / temperatures.length;

        for (i = 0; i < temperatures.length; i++) {
            data.addRow([i, parseFloat(temperatures[i]), medianTemperature, medianTemperature - 0.80]);
    }

                var options = {
            chart: {
                title: 'Senaste temperaturen'
            },
            width: 900,
            height: 500,
            axes: {
                x: {
                        0: { side: 'top' }
                    }
                }
            };

            var chart = new google.charts.Line(document.getElementById('line_top_x'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
</script>



<div id="line_top_x"></div>
@*//Div för diagrammet*@