@model IEnumerable<Klimatkollen.Models.News>
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/site.css" />
<br />
<h1 style="text-align: center;">Nyheter från Klimatkollen</h1>
<br />
@if (User.IsInRole("Admin") || User.IsInRole("grupp1superadmin"))
{

    <div>
        <a class="btn btn-sec" href="/News/AddNews"> Lägg till nyhet</a>
    </div>
}




    @*@Html.ActionLink("Visa mer", "AddNews", "News")*@

<div class="col-sm-7">

    <ul style="list-style-type:none; padding: 0;">
        @foreach (var News in Model)
        {
            <li>
                <div id="NewsSiteCard" class="cardSite">
                    <div id="NewsSiteHeader" class="card-header">
                        @News.Title
                    </div>
                    <div id="NewsSiteBody" class="card-body">
                        @News.Content
                        <br />

                    </div>
                    <div id="NewsSiteFooter" class="card-footer">
                        Publicerades: @News.Date.ToShortDateString()
                        @*<a class="btn btn-outline-primary" asp-route-id="@News.NewsID" asp-action="EditNews" asp-controller="News">Ändra nyhet</a>*@
                    </div>
                    @if (User.IsInRole("Admin") || User.IsInRole("grupp1superadmin"))
                    {
                        @Html.ActionLink("Ta bort nyhet", "RemoveNews", "News", new { newsId = News.NewsID })
                    }
                </div>
            </li>
        }
    </ul>
</div>

