@model IEnumerable<Klimatkollen.Models.News>
<link rel="stylesheet" href="~/css/site.css" />

<div class="soHead">
    <h1>Senaste nyheterna från Klimatkollen</h1>

    @Html.ActionLink("Visa fler nyheter", "Index", "News")
</div>
 <br />
@foreach (var News in Model)
{

    <div class="card">
        <div id="NewsHeader" class="card-header">
            @News.Title
        </div>
        <div id="NewsBody" class="card-body">
            @if (News.Content.Length <= 120)
            {
                <p>@News.Content</p>
            }
            @if (News.Content.Length > 120)
            {
                <span>@News.Content.Remove(120)... <a asp-action="Index" asp-controller="News" title="Se alla observationer">&nbsp; Läs vidare</a></span>               
            }
        </div>
        <div id="NewsFooter" class="card-footer">
            Publicerades: @News.Date.ToShortDateString()
        </div>
    </div>
}

    @*<div class="box">
        <div class="box1">
            <h2></h2>
            <p>Här står nyheten</p>
            <p>Publicerades</p>
        </div>
        <div class="box2">
            <h2>Nyhet 2</h2>
            <p>Här står nyheten</p>
            <p>Publicerades</p>
        </div>
        <div class="box3">
            <h2>Nyhet 3</h2>
            <p>Här står nyheten</p>
            <p>Publicerades</p>
        </div>
    </div>*@

