@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    var people = ViewBag.People;
    ViewBag.Title = "Registrerade användare";
}

<h1>Registrerade användare</h1>
<hr />

<input type="search" id="searchBar" onkeyup="Search()" class="form-control" placeholder="Sök användare..." />
<br />

<ul style="list-style-type:none" id="userList">
    @foreach (var user in Model)
    {

        @foreach (var person in people)
        {
            @if (person.IdentityId == user.Id && user.Email != "grupp1superadmin@cool.se")
            {
                <li>
                    <a asp-action="EditUser" asp-controller="Admin" asp-route-id="@user.Id" style="color:black ">
                        <b>E-postadress:</b> @user.Email <br /> <b>AnvändarID:</b> @user.Id <br />
                        <text><b>Namn:</b> @person.FirstName @person.Lastname </text>
                    </a><hr />
                </li>
            }
        }



    }
</ul>

<script>
    function Search() {

        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('searchBar');
        filter = input.value.toUpperCase();
        ul = document.getElementById("userList");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>