@model IEnumerable<Klimatkollen.Models.Measurement>
<div id="header" style="text-align:center">
    <h3>Mina observationer</h3>
</div>


<div>
    <ul style="list-style-type:none; padding: 0;">
        @foreach (var measurement in Model)
        {
            <li>
                <div class="card">
                    <div class="card-header">
                        Observation av @measurement.Observation.MainCategory.CategoryName
                    </div>
                    <div class="card-body">
                        Mätvärde: @measurement.Value@*, @measurement.ThirdCategory.Type*@ <br /><br />
                        Kommentar: @measurement.Observation.Comment <br />
                        Observation gjord den @measurement.Observation.Date
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary" asp-route-id="@measurement.Observation.Id" asp-action="EditUserObservation" asp-controller="Profile">Ändra observation</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
