@model IEnumerable<Klimatkollen.Models.Observation>
<div id="header" style="text-align:center">
    <h3>Mina observationer</h3>
</div>


<div >
    <ul style="list-style-type:none; padding: 0;">
        @foreach (var observation in Model)
        {
            <li>
                <div class="card">
                    <div class="card-header" style="border:0px; background-color:dodgerblue">
                        <h3 style="color:white">Observation av @observation.MainCategory.CategoryName</h3>
                    </div>
                    <div class="card-body" style="border:0px">
                        Mätvärde: @observation.Measurement.Value, @observation.Measurement.Category.Type <br /><br />
                        Kommentar: @observation.Comment <br />
                        Observation gjord den @observation.Date
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-outline-primary" asp-route-id="@observation.Id" asp-action="EditUserObservation" asp-controller="Profile">Ändra observation</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>