@model Klimatkollen.Models.Measurement

@{
    ViewBag.Title = "Ändra observation";
}

<h1>Ändra observation</h1>
<hr />

<div id="editForm">
    <form method="post">
        @Html.AntiForgeryToken()

        <input id="long" type="hidden" value="@Model.Observation.Longitude" asp-for="@Model.Observation.Longitude" />
        <input id="lat" type="hidden" value="@Model.Observation.Latitude" asp-for="@Model.Observation.Latitude" />
        <input type="hidden" asp-for="@Model.Observation.Person" value="@Model.Observation.Person" />
        <input id="hiddenPlace" type="hidden" asp-for="@Model.Observation.Place" value="" />
        <input id="hiddenAdministrativeArea" type="hidden" asp-for="@Model.Observation.AdministrativeArea" value="" />
        <input id="hiddenCountry" type="hidden" asp-for="@Model.Observation.Country" value="" />


        <h3 style="text-align:center">Observation av @Model.Observation.MainCategory.CategoryName, @Model.ThirdCategory.Type </h3>
        <br />
        <div class="form-group row">
            <label class="col-form-label col-sm-2">@Model.ThirdCategory.Unit Värde:</label>
            <div class="col-sm-10">
                <input asp-for="@Model.Value" class="form-control" value="@Model.Value" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">Kommentar:</label>
            <div class="col-sm-10">
                @*<input class="form-control CommentTextBox" required type="text" asp-for="@Model.Observation.Comment" value="@Model.Observation.Comment" />*@
                @Html.TextAreaFor(model => model.Observation.Comment, new { htmlAttributes = new { @class = "form-control CommentTextBox", @placeholder = "Fyll i en kommentar" } })
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-2">Datum:</label>

            <div class="col-sm-10">
                @*<input type="text" class="form-control" asp-for="@Model.Date" value="@Model.Date" id="datepicker" />*@
                @Html.EditorFor(model => model.Observation.Date, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div id="hiddens">
            <div class="col-md-10" style="visibility: hidden">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control btnResult", @id = "resultBoxId" } })
            </div>
        </div>

        <br />
        <h5 style="text-align:center">Välj plats där observation gjordes på kartan nedan</h5>
        <div id="map" style="height: 500px; width:100%; border-radius: 10px; box-shadow: 3px 7px 5px #888888"></div>
        <br />
        <input type="submit" value="Uppdatera observation" class="btn btn-primary" asp-action="PostEditUserObservation" asp-controller="Profile" />

        <button type="button" class="btn btn-danger"><a style="color:white" asp-action="DeleteUserMeasurement" asp-controller="Profile" asp-route-id="@Model.Id">Ta bort vald observation</a></button>
    </form>
</div>

<script>
    $(document).ready( function() {
        $( "#datepicker" ).datepicker();
    });
</script>

<script>
    var map, marker;

    //API-nyckel
    var key = "AIzaSyBagdhMKVaEPqLco2PxO2NCSTPYeU_T4gU"

    //Metod som hämtar områden i text utifrån koordinater och lägger dessa i droplist
    function GetAreasJson(_lat, _lng) {
        var lat = _lat;
        var lng = _lng;

        let url = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng + "&key="
            + key;

        fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                let parts = data.results[0].address_components;
                parts.forEach(part => {
                    if (part.types.includes("country")) {
                        document.getElementById("hiddenCountry").value = part.long_name;
                    }
                    if (part.types.includes("administrative_area_level_1")) {
                        document.getElementById("hiddenAdministrativeArea").value = part.long_name;
                    }
                    if (part.types.includes("transit_station")) {
                        document.getElementById("hiddenPlace").value = part.long_name;
                    }
                    else if (part.types.includes("locality")) {
                        document.getElementById("hiddenPlace").value = part.long_name;
                    }
                    else if (part.types.includes("postal_town")) {
                        document.getElementById("hiddenPlace").value = part.long_name;
                    }
                });
            })
            .catch(error => console.warn(error.message));
    }

    $(document).ready(function () {

        function myMap(lat, long) {
            var myCenter = new google.maps.LatLng(lat, long);
            var mapCanvas = document.getElementById("map");
            var latInput = document.getElementById("lat").value;
            var longInput = document.getElementById("long").value;
            var coords = { lat: Number(latInput), lng: Number(longInput) };

            var mapOptions = {
                center: coords,
                zoom: 12,
                streetViewControl: false,
                mapTypeControl: true,
                zoomControl: false,
                scrollwheel: true
            };

            map = new google.maps.Map(mapCanvas, mapOptions);
            //if (navigator.geolocation) {
            //    navigator.geolocation.getCurrentPosition(function (position) {
            //        latInput = document.getElementById("lat").value = position.coords.latitude;
            //        longInput = document.getElementById("long").value = position.coords.longitude;

            marker = new google.maps.Marker({
                position: { lat: Number(latInput), lng: Number(longInput) },
                map: map,
                draggable: true
            });
            marker.addListener('click', function () {
                map.setCenter(marker.getPosition());
            });
            marker.addListener('dragend', function () {
                var lat = document.getElementById("lat").value = marker.getPosition().lat();
                var long = document.getElementById("long").value = marker.getPosition().lng();
                GetAreasJson(lat, long);
            });

            map.setCenter(marker.getPosition());
            //    }, function () {
            //        handleLocationError(true, infoWindow, map.getCenter());
            //    });
            //} else {
            //    // Browser doesn't support Geolocation
            //    handleLocationError(false, infoWindow, map.getCenter());
            //}

            //marker = new google.maps.Marker({
            //        position: myCenter,
            //        draggable: true
            //    }
            //);
            //marker.setMap(map);
        }

        //function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        //    infoWindow.setPosition(pos);
        //    infoWindow.setContent(browserHasGeolocation ?
        //        'Error: The Geolocation service failed.' :
        //        'Error: Your browser doesn\'t support geolocation.');
        //    infoWindow.open(map);
        //}

        google.maps.event.addDomListener(window, 'load', myMap(67.85426620914679, 20.227949203380874));

        map.addListener('click', function (event) {
            marker.setPosition(event.latLng);
            var lat = document.getElementById("lat").value = marker.getPosition().lat();
            var long = document.getElementById("long").value = marker.getPosition().lng();
            GetAreasJson(lat, long);
        });
    });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBagdhMKVaEPqLco2PxO2NCSTPYeU_T4gU&callback=initMap"
        async defer></script>
