@model Klimatkollen.Models.Person


@{
    ViewBag.Title = "Profil";
}

<h1>@Model.FirstName @Model.Lastname's profil</h1>
<hr />
<div class="row">

    <div id="myObservations" class="col-sm-7">
        @await Component.InvokeAsync("UserObservations")
    </div>

    
    <div class="col-sm-5">
        <br />
        <div id="displayUserInfo" style="text-align:center">
            <button class="btn btn-outline-primary" id="launchEdit">Ändra personlig information</button>
        </div>
        <br />
        <div id="userFiltersDiv" style="text-align:center">
            <a class="btn btn-outline-primary"  asp-action="EditUserFilters" asp-controller="Profile">Mina intressen / filter</a>
        </div>

        <div id="editUserInfo" style="display:none">
            <form method="post">
                @Html.AntiForgeryToken()

                <input type="hidden" asp-for="@Model.IdentityId" value="@Model.IdentityId" />
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />

                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Förnamn:</label>
                    <div class="col-sm-9">
                        <input class="form-control" required type="text" asp-for="@Model.FirstName" value="@Model.FirstName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">Efternamn:</label>
                    <div class="col-sm-9">
                        <input class="form-control" required type="text" asp-for="@Model.Lastname" value="@Model.Lastname" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">E-postadress:</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="email" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$" required asp-for="@Model.Email" value="@Model.Email" />
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" asp-action="EditUserProfile" asp-controller="Profile">Ändra info</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-primary"><a style="color:white" id="change-password" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Byt lösenord</a></button>
                <button type="button" class="btn btn-primary" id="abortEdit">Avbryt</button>
            </form>

        </div>
    </div>


</div>
<br /><br />
@*<h1>ÄR DET HÄR VI VILL VISA LITE GAMIFICATION SHEISSE? Hur ska vi göra det måtro?</h1>*@
<script>
    $(document).ready(function () {
        $("#launchEdit").click(function () {
            $("#displayUserInfo").hide();
            $("#editUserInfo").show(200);
        })
    })
</script>

<script>
    $(document).ready(function () {
        $("#abortEdit").click(function () {
            $("#displayUserInfo").show();
            $("#editUserInfo").hide(200);
        })
    })
</script>