@model Klimatkollen.Models.MainCategory
    

    @{
        ViewData["Title"] = "Rapportera observation";
    }

    <h1>Steg 1 - Välj kategori</h1>
    <div id="catDiv">
        @foreach (var item in ViewBag.categories)
        {
            <button class="buttonTemp" value=@item.Id data="@item.CategoryName" onclick="SetValue(this)">@item.CategoryName</button>
        }
    </div>


    @using (Html.BeginForm("ReportObservationStep2", "ReportObservation", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "myForm" }))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div style="visibility: hidden">
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control btnResult", @id = "resultBoxName" } })
            </div>
        </div>
    </div>
    <div style="visibility: hidden">
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control btnResult", @id = "resultBoxId" } })
            </div>
        </div>
    </div>

</div>

    }




    <script>
        //Sätter värdet på den klickade knappen till en textbox för objektets "category"
        function SetValue(x) {
            //OLD:
            //var x = document.getElementsByClassName("active");
            //var z = document.getElementsByClassName("btnResult");
            //z[0].value = x[0].value;
            //z[0].value = y.value;

            

            //var q = document.getElementById("resultBoxName");
            var t = document.getElementById("resultBoxId");

            t.value = x.value;
            //q.value = x.name83;
            //alert(x.value);
            Submitform();
        }
        //Submittar formuläret
        function Submitform() {
            document.forms["myForm"].submit();
        }
    </script>



