@model Klimatkollen.ViewModels.ObservationViewModel

@{
    ViewData["Title"] = "ReportObservationStep3";
}

<h1>Steg 3 - Fyll i värden</h1>
<h3>@Model.mainCategory.CategoryName och @Model.category.Type</h3>
<hr />

@using (Html.BeginForm("ReportObservationCompleted", "ReportObservation", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "myForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

<div class="form-group">

    @if (Model.category.Type == "Vildsvin")
    {
        //Kod för vildsvin
    }
    @if (Model.category.Type == "Groda")
    {
        //Kod för groda
    }
    @if (Model.category.Type == "Ripa")
    {
        <h5>Päls:</h5>
        <div class="col-md-10">
            @Html.EditorFor(model => model.category.Unit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    }
    @if (Model.category.Type == "Väder")
    {
        <h6>Här ska vädertyper dyka upp</h6>
        <div class="col-md-8">
            @Html.EditorFor(model => model.category.Unit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    }
    @if (Model.category.Type == "Temperatur")
    {
        <h6>Här ska Temperatur-alternativ dyka upp</h6>
        <div class="col-md-8">
            @Html.EditorFor(model => model.category.Unit, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    }

    <br />

    <h5>Datum:</h5>
    <div class="col-md-8">
        @Html.EditorFor(model => model.observation.Date, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <br />
    <h5>Longitud:</h5>
    <div class="col-md-8">
        @Html.EditorFor(model => model.observation.Longitude, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <br />
    <h5>Latitud:</h5>
    <div class="col-md-8">
        @Html.EditorFor(model => model.observation.Latitude, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <br />
    <h5>Kommentar för observation av @Model.category.Type:</h5>
    <div class="col-md-8">
        @Html.TextAreaFor(model => model.observation.Comment, new { htmlAttributes = new { @class = "form-control CommentTextBox" } })
    </div>
    <br />

    <div>
        @Html.HiddenFor(model => model.category.Type, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div>
        @Html.HiddenFor(model => model.mainCategory.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="col-md-8">
        <div class="form-group" style="visibility: visible">
            <input type="submit" value="Spara Observation" class="btn btn-primary btn-right" />
        </div>
        <a class="btn btn-sec" href="javascript:void(0);" onclick="history.go(-1);"> &larr; Tillbaka</a>
    </div>
</div>
}