@model Klimatkollen.ViewModels.ObservationViewModel
@{
    ViewData["Title"] = "ReportObservationView";
}

<h1>Steg 2 - Välj underkategori för @Model.mainCategory.CategoryName</h1>

<div id="catDiv">
    @foreach (var item in ViewBag.list)
    {
        <button class="buttonTemp" value=@item>@item</button>
    }
</div>

@using (Html.BeginForm("ReportObservationStep3", "ReportObservation", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "myForm" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

<div class="form-group">



    <div class="col-md-10" style="visibility: hidden">
        @Html.EditorFor(model => model.category.Type, new { htmlAttributes = new { @class = "form-control btnResult" } })
    </div>
    <div class="col-md-10" style="visibility: hidden">
        @Html.EditorFor(model => model.mainCategory.CategoryName, new { htmlAttributes = new { @class = "form-control"} })
    </div>

</div>
}

@*Flytta nedan till annan fil*@
<script>
    // Funktion för att sätta aktiv class på den klickade knappen
    var header = document.getElementById("catDiv");
    var btns = header.getElementsByClassName("buttonTemp");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active", "");
            }
            this.className += " active";
            SetValue();
            Submitform();
        });
    }

</script>

<script>

    //Sätter värdet på den klickade knappen till en textbox för objektets "category"
    function SetValue() {
        var x = document.getElementsByClassName("active");
        var z = document.getElementsByClassName("btnResult");

        z[0].value = x[0].value;
    }
</script>
<script>
    //Submittar formuläret
    function Submitform()
    {
        document.forms["myForm"].submit();
    }
</script>